# Laravel
.env
/vendor
/node_modules

# Storage (jangan hapus foldernya, hanya isinya)
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*

# Cache Laravel
bootstrap/cache/*.php

# Vite (PENTING!)
/public/hot
# /public/build   <-- JANGAN DIIGNORE kalau kamu pakai Vite

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Optional
npm-debug.log
yarn-error.log